version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: transit
      POSTGRES_USER: transit
      POSTGRES_PASSWORD: transit123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    ports:
      - "8080:8080"
    depends_on:
      - db

  app: # addition should i do this?
    build: .
    depends_on:
      - db
    volumes:
      - ../data:/app/data:ro
    environment:
      PYTHONUNBUFFERED: "1"



volumes:
  pgdata: